<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Categories' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="mb-20" fxLayout.lt-md="column" fxFlex fxLayoutGap="50px">
      <form clas="usuario-form">
        <!--<div fxFlex>-->
        <div fxLayout="row">
          <mat-form-field>
            <input
              matInput
              type="text"
              [(ngModel)]="nuevoItem.nombre"
              name="nombreArea"
              placeholder="Nombre"
            />
          </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field>
                <textarea matInput placeholder="Definición" [(ngModel)]="nuevoItem.definicion" name="definicionDeArea"></textarea>
            </mat-form-field>            
        </div>
      </form>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="boton-amarillo" *ngIf="!actualizar" (click)="guardarItem()">Guardar</button>
    <button mat-button class="boton-amarillo" *ngIf="actualizar" (click)="actualizarItem()">Actualizar</button>
    <button mat-button class="boton-rojo" (click)="cancelar()">Cancelar</button>
  </mat-card-actions>
</mat-card>
<mat-form-field>
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filtrar"
  />
</mat-form-field>
<div class="mat-elevation-z8 div-card">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="nombre">
      <th class="columna-border" mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de categoría</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="definicion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Definición</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th class="columna-derecha-border" mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <!--<button mat-button>
          <i class="material-icons editar-azul" (click)="editarItem(element)">edit</i>
        </button>
        <button mat-button>
          <i class="material-icons eliminar-rojo" (click)="eliminarArea(element)">cancel</i>
        </button>-->
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
